/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Stytes */
 
.menu {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__section {
  display: flex;
  align-items: center;
}

.menu__section.left .menu__icon {
  padding: 12px 16px;
}

.menu__link {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
  padding: 12px 18px;

}

.menu__link.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

.menu__link:not(.active) {
  margin-bottom: 2px;
}

.menu__section.right {
  margin-right: 4px;
}

.menu__profile {
  padding: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.menu__avatar {
  border-radius: 50%;
}

.menu__avatar--frame {
  position: absolute;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 56px 8px 0px;
}

.content__logo {
  height: 46px;
}

.content__search {
  margin-top: 20px;
  width: 100%;
  max-width: 716px;
  padding: 7px 10px 6px 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  border-radius: 25px;
  border: 1px solid #dadce0;
  outline: 0;
}

.content__search:focus {
  border: 1px solid orange;
}

.content__offer {
  margin-top: 25px;
  font-size: 10px;
  padding: 6px 12px;
}

.content__offer a {
  text-decoration: none;
  color: #088eaf;
}

.footer {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0, 0.1);
}

.footer__section:not(:first-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.footer__location {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  padding: 10px 12px;
  align-items: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 13px;
  color: #5f6368;
  padding: 10px;
}

.footer__links a:not(:first-child) {
  margin-left: 27px;
}

/* Media Query */

@media screen and (min-width: 780px) {
  /* .menu__section.right {
    
  } */
  .content {
    padding-top: 120px;
  }
  .content__logo {
    height: 96px;
  }
  .menu__section.left {
    display: none;
  }
  .footer__section {
    font-size: 20px;
  }
}